.footerContainer {
    width: 100%;
    min-height: 80px;
    padding: 8px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary);
}

.footerContainer>p {
    color: white;
    opacity: .8;
}

.footerContainer .socials {
    display: flex;
    gap: 16px;
}

.footerContainer .socials a {
    display: flex;
    border-radius: 18px;
    text-decoration: none;
}

.footerContainer .socials a img {
    border-radius: 816px;
    height: 36px;
    transition: all ease 300ms;
}

.footerContainer .socials a img:hover {
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0px 3px 10px rgba(76, 87, 187, .4);
    padding: 2px 3px 3.5px 3px;
    filter: grayscale(10);  
}

