.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 24px 48px;
}

.nav>a {
    display: flex;
    align-items: center;
}

.nav .menus a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--primary-text);
    margin: 0 .8rem;
    position: relative;
    transition: color ease-in-out 300ms;
}

.nav .menus a::after {
    position: absolute;
    content: "";
    width: 100%;
    border-radius: 1.5px;
    height: 3px;
    top: 100%;
    left: 0;
    background: var(--primary);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.nav .menus a:hover {
    color: var(--primary);
}

.nav .menus a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

@media screen and (max-width: 480px) {
    .nav {
        padding: 20px 16px;
    }

    .nav>a>img {
        max-width: 160px;
    }

    .nav .menus {
        display: none;
    }

}