.serviceItem {
    width: 80%;
    display: flex;
    padding: 32px 48px;
    margin: 32px 0;
    /* border: 1px solid salmon; */
}

.serviceItem .serviceLeft {
    width: 40%;
    position: relative;
}

.serviceItem .serviceLeft .bgEffect {
    width: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* border: 1px solid slateblue; */
}

.serviceItem .serviceLeft .art {
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* border: 1px solid seagreen; */
}

.serviceItem .serviceRight {
    width: 60%;
}

.serviceItem .serviceRight .content {
    max-width: 540px;
}

.serviceItem .serviceRight .content>h1 {
    margin-bottom: 16px;
}

@media screen and (max-width: 480px) {
    .serviceItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;
        margin: 32px 0;
    }

    .serviceItem .serviceLeft {
        width: 100%;
        height: auto;
        min-height: 200px;
        flex: 1;
    }

    .serviceItem .serviceLeft .bgEffect {
        width: 90%;
    }

    .serviceItem .serviceLeft .art {
        width: 50%;
    }

    .serviceItem .serviceRight {
        flex: 1;
        width: 100%;
    }

    .serviceItem .serviceRight .content {
        max-width: 400px;
    }

    .serviceItem .serviceRight .content>h1,
    .serviceItem .serviceRight .content>p {
        text-align: center;
    }
}